<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-muted">
        <a style="color: inherit;" href="https://github.com/Jofresh/nodejs-app" target="_blank"><i class="bi bi-github"></i></a>
      </span>
    </div>
  </footer>