<!--<footer>
    <p>My footer</p>
</footer>
-->

<!-- Remove the container if you want to extend the Footer to full width. -->

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>