<div class="nav">
  <a class="nav__brand" href="/">jofresh</a>

  <div class="nav__list">
    <a
      class="nav__list-item <%= locals.home ? ' active' : '' %>"
      aria-current="page"
      href="/"
      >Home</a
    >
    <a class="nav__list-item<%= locals.users ? ' active' : '' %>" href="/users"
      >Users</a
    >
    <a class="nav__list-item<%= locals.posts ? ' active' : '' %>" href="/posts"
      >Posts</a
    >
  </div>
</div>
