<!-- <html> -->
<%- include('./partials/head'); %>
<body class="d-flex flex-column h-100">
    <%- include('./partials/nav', { home: true }); %>
    
    <main class="flex-shrink-0">
        <div class="container">
            <h1>Home Page</h1>
            <p><%= title %> </p>
        </div>
    </main>

    <%- include('./partials/footer'); %>
</body>
</html>