<!-- <html> -->
<%- include('./partials/head'); %>
<body>
    <%- include('./partials/nav', { home: true }); %>
    
    <div class="main">
        <h1>Home</h1>
        <p><%= locals.title %> </p>
    </div>

    <%- include('./partials/footer'); %>
</body>
</html>