<!-- <html> -->
<%- include('./partials/head'); %>
<body class="d-flex flex-column h-100">
    <%- include('./partials/nav', { users: true }); %>
    <main class="flex-shrink-0">
        <div class="container">
            <h1>Users</h1>

            <div class="container">
                <div class="row row-cols-3">
                    <% locals.users && locals.users.forEach(user => { %><div class="col">
                        <%= `${user.name}` %>
                    </div><% }) %>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer'); %>
</body>
</html>
