<!-- <html> -->
<%- include('./partials/head'); %>
<body>
    <%- include('./partials/nav', { users: true }); %>
    <div class="main">
        <h1>Users</h1>
        <div class="users__list">
            <% locals.users && locals.users.forEach(user => { %>
            <div class="users__list-item"><%= user.name %></div>
            <% }) %>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>
