<html lang="en">
<head>
    <%- include('../includes/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../includes/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>About page</h1>
        </div>
    </main>

    <footer>
        <%- include('../includes/footer'); %>
    </footer>

</body>
</html>